/* import font from googleFonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@300;400;700;900&display=swap');

/* Uso de Font-Face para importar font 'Felt Tip Roman' */
@font-face {
    font-family: 'Felt Tip Roman';
    src: url(/font/Felt\ Tip\ Roman\ Regular.ttf);
    font-family: 'Pretendo';
    src: url(/font/Pretendo.ttf);
}



/* EL body tiene flex para centrar la GameBoy */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}


/* Bordes Externos de la Gameboy con propiedad Flex */
.bordes-gameboy{
    background-color: #573db0;
    height: 65em;
    width: 25em;
    border-radius: 0.5em 0.5em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Borde inferior de la GameBoy echo con clip-path */
.borde-inferior-gameboy{
    background-color: #573db0;
    width: 24.8em;
    height: 14em;
    margin-top: -0.7em;
    clip-path: ellipse(50% 23% at 50% 1%);
}
/* Borde Pantalla negra */
.bordes-negros-gameboy{
    width: 22em;
    height: 17em;
    margin-top: 1.5em;
    border-radius: 0.5em 0.5em 1em 1.05em;
    background-color: #363b3c;
    border: 0.15em solid hsl(195, 5%, 16%);
    
}
/* Borde inferior pantalla negra echo con clip-path */
.borde-inferior-pantalla{
    width: 21em;
    height: 4em;
    margin-top: -0.17em;
    background-color: hsl(195, 5%, 16%);
    clip-path: ellipse(50% 23% at 50% 1%);
    position: relative;
}

/* Border inferior pantalla negra duplicado y sobrepuesto al original para poder conseguir un border-bottom negro a clip-path */
.sombra-inferior-pantalla{
    width: 20.9em;
    height: 3.9em;
    margin-top: -0.25em;
    background-color: #363b3c;
    clip-path: ellipse(50% 23% at 50% 1%);
    position: absolute;
    bottom: 0.2em;
}

/* Contenedor power y display  */
.contenedor-power-y-display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

/* Contenedor Power */
.contenedor-power{
    width: 3em;
    height: 2em;
    background-color: #363b3c;
    margin-left: -3em;
    margin-right: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Div contenedor de la luz de encendido y las lunas. */
.contenedor-encendido-luna{
    display: flex;
    margin-top: 0.1em;
}

/* Led de Encendido con animación */
.led-encendido{
    width: 0.6em;
    height: 0.6em;
    background-color: #ee2400;
    border-radius: 50%;
    margin-right: 0.1em; 
    animation: parpadeo 1.3s infinite;
    box-shadow: inset 0px 0px 6px 5px rgba(150,27,5,1);
}


/* Luna echa por dos divs sobrepuestos. */
.luna{
    width: 0.25em;
    height: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 0% 50% 50% 0%;
    margin-right: 0.1em;
}
/* Este es el div que cubre el div "Luna" y crea el efecto de una luna */
.coverLuna{
    width: 0.12em;
    height: 0.5em;
    background-color: #363b3c;
    border-radius: 0% 50% 50% 0%;
    margin-left: 0.0em;
}


/* Texto power */
.power-text{
    font-size: 0.5em;
    color: white;
    margin-top: 0.1em;
    font-family: 'Lato', sans-serif;
}

/* Display Gris GameBoy */
.display{
    width: 15em;
    height: 12em;
    background-color: #cbcfbd;
    margin-top: 0.5em;
    box-shadow: inset 0px 0px 13px 4px rgba(0,0,0,0.75);
    border: 0.1em solid hsl(195, 5%, 16%);
}

/* Texto Logo GameBoy */

.logo{
    margin-top: -0.9em;
}

/* Logo GameBoy */
.gameboy-logo{
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/* Texto Color con fuente Felt Tip Roman */
.colorLogoText{
    font-family: Felt Tip Roman;
    font-size: 1.3em;
    letter-spacing: -0.18em;
    
}

/* Color de cada letra del logo */
.letraRoja{
    color: #a73569;
}
.letraVioleta{
    color: #643a8d;
}
.letraVerde{
    color: #a4d562;
}
.letraAmarilla{
    color: #cdc44f;
}
.letraAzul{
    color: #4489a7;
}

/* Contenedor con logo Nintendo */
.contenedor-logo-nintendo{
    width: 7em;
    height: 1.2em;
    border: 0.15em solid #5f46b2;
    border-radius: 1.5em ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2em;
    font-family: Pretendo;
    color: #5f46b2;
    padding: 0.1em 0em 0.1em 0em;
}

/* Contenedor teclas */
.contenedor-teclas{
    width: 20em;
    height: 6em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

/* Contenedor flechas de dirección con grid*/
.contenedor-flechas{
    width: 6em;
    height: 6em;
    display: grid;
    grid-template-columns: repeat(3,2em);
}

/* Clase dimension de las flechas */
.dimension-flechas{
    width: 2em;
    height: 2em;
}
.contenedor-flecha-arriba{ 
    border-top: 0.01em solid black;
    border-right: 0.01em solid black;
    border-left: 0.01em solid black;
}

.contenedor-flecha-izquierda{
    border-left: 0.01em solid black;
    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
}
.contenedor-punto-centro{
    width: 2em;
    height: 2em;
    
}
.contenedor-flecha-derecha{
 
    border-right: 0.01em solid black;
    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
}

.contenedor-flecha-abajo{
  
    border-bottom: 0.01em solid black;
    border-right: 0.01em solid black;
    border-left: 0.01em solid black;
}



/* Contenedor botones A-B */
.contenedor-botones{
    width: 6em;
    height: 6em;
    border: 1px solid black;

    
}




/* Keyframe Animación Parpadeo Led */

@keyframes parpadeo{
    0%{
        background-color: #ee2400;
        box-shadow: inset 0px 0px 6px 5px rgba(150, 27, 5, 0.511);
    }
    50%{
        background-color: #ee2400;
        box-shadow: inset 0px 0px 0px 0px rgba(150, 27, 5, 0.505);
    }
    100%{
        background-color: #ee2400;
        box-shadow: inset 0px 0px 6px 5px rgba(150, 27, 5, 0.511);
    }
}