/* import font from googleFonts Para texto POWER debajo de led. */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@300;400;700;900&display=swap');

/* Font-face para Texto COLOR y Texto en pantalla pixelado. */
@font-face {
    font-family: 'Felt Tip Roman';
    src: url(../font/FeltTipRomanRegular.ttf) format('ttf');
    
    font-family: 'EarlyGameBoy';
    src: url(../font/EarlyGameBoy.ttf);

}

/* Font-face para Texto GAME BOY en pantalla negra   */
@font-face {
    font-family: 'GillSansMTBoldItalic';
    src: url(../font/GillSansMTBoldItalic.ttf);
}

/* Font-face para logo nintendo */

@font-face {
    font-family: 'Pretendo';
    src: url(../font/Pretendo.ttf);
}

/* EL body tiene flex para centrar la GameBoy */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

/* Bordes Externos de la Gameboy con propiedad Flex */
.bordes-gameboy{
    background-color: #573db0;
    height: 70em;
    width: 25em;
    border-radius: 0.5em 0.5em 0.98em 0.98em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Borde inferior de la GameBoy echo con clip-path */
.borde-inferior-gameboy{
    background-color: #573db0;
    width: 24.9em;
    height: 14em;
    margin-top: -0.73em;
    clip-path: ellipse(50% 25% at 50% 1%);
}
/* Borde Pantalla negra */
.bordes-negros-gameboy{
    width: 22em;
    height: 17em;
    margin-top: 1.5em;
    border-radius: 0.5em 0.5em 1em 1.05em;
    background-color: #363b3c;
    border: 0.15em solid hsl(195, 5%, 16%);
}

/* Borde inferior pantalla negra echo con clip-path */
.borde-inferior-pantalla{
    width: 21em;
    height: 4em;
    margin-top: -0.21em;
    background-color: hsl(195, 5%, 16%);
    clip-path: ellipse(50% 25% at 50% 1%);
    position: relative;
}

/* Border inferior pantalla negra duplicado y sobrepuesto al original para poder conseguir un border-bottom negro a clip-path */
.sombra-inferior-pantalla{
    width: 20.9em;
    height: 3.9em;
    margin-top: -0.24em;
    background-color: #363b3c;
    clip-path: ellipse(50% 23% at 50% 1%);
    position: absolute;
    bottom: 0.2em;
}

/* Contenedor power y display  */
.contenedor-power-y-display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

/* Contenedor Power */
.contenedor-power{
    width: 3em;
    height: 2em;
    background-color: #363b3c;
    margin-left: -3em;
    margin-right: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Div contenedor de la luz de encendido y las lunas. */
.contenedor-encendido-luna{
    display: flex;
    margin-top: 0.1em;
}

/* Led de Encendido con animación */
.led-encendido{
    width: 0.6em;
    height: 0.6em;
    background-color: #ee2400;
    border-radius: 50%;
    margin-right: 0.1em; 
    animation: parpadeo 1.42s infinite;
    box-shadow: inset 0px 0px 6px 5px rgba(150,27,5,1);
}


/* Luna echa por dos divs sobrepuestos. */
.luna{
    width: 0.25em;
    height: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 0% 50% 50% 0%;
    margin-right: 0.1em;
}
/* Este es el div que cubre el div "Luna" y crea el efecto de una luna */
.coverLuna{
    width: 0.12em;
    height: 0.5em;
    background-color: #363b3c;
    border-radius: 0% 50% 50% 0%;
    margin-left: 0.0em;
}


/* Texto power */
.power-text{
    font-size: 0.5em;
    color: white;
    margin-top: 0.1em;
    font-family: 'Lato', sans-serif;
}

/* Display Gris GameBoy */
.display{
    width: 15em;
    height: 12em;
    background-color: #cbcfbd;
    margin-top: 0.5em;
    box-shadow: inset 0px 0px 13px 4px rgba(0,0,0,0.75);
    border: 0.1em solid hsl(195, 5%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Texto Gameboy y Nintendo */

.texto-display-gameboy{
    font-family: 'EarlyGameBoy';
    font-size: 1.8em;
    padding-top: 1.7em;
    letter-spacing: -0.15em;
}

.contenedor-nintendo{
    display: flex;
}

.texto-display-nintendo{
    font-family: 'EarlyGameBoy';
    font-size: 0.75em;
}

/* Logo Registrado echo de esta manera para tener la R con la misma fuente  */

.contenedor-registrado{
    height: 1em;
    border: 0.1px solid black;
    font-family: 'EarlyGameBoy';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.5em;
    padding: 0.1em 0em 0.1em 0.3em;
    margin-left: 0.2em;
}



/* Texto Logo GameBoy */

.logo{
    margin-top: -0.9em;
}

/* Logo GameBoy */
.gameboy-logo{
    text-align: center;
    color: white;
    font-family: 'GillSansMTBoldItalic';
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: -0.05em;
}

/* Texto Color con fuente Felt Tip Roman */
.colorLogoText{
    font-family: Felt Tip Roman;
    font-size: 1.2em;
    letter-spacing: -0.18em;
}

/* Color de cada letra del logo */
.letraRoja{
    color: #a73569;
}
.letraVioleta{
    color: #643a8d;
}
.letraVerde{
    color: #a4d562;
}
.letraAmarilla{
    color: #cdc44f;
}
.letraAzul{
    color: #4489a7;
}

/* Contenedor con logo Nintendo */
.contenedor-logo-nintendo{
    width: 7em;
    height: 1.2em;
    border: 0.15em solid #7362b29c;
    border-radius: 1.5em ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2em;
    font-family: Pretendo;
    color: #7362b29c;
    padding: 0.1em 0em 0.1em 0em;
}

/* Contenedor teclas */
.contenedor-teclas{
    width: 20em;
    height: 6em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

/* Contenedor flechas de dirección con grid*/
.contenedor-flechas{
    width: 6em;
    height: 6em;
    display: grid;
    grid-template-columns: repeat(3,2em);
    
}

/* Clase dimension de las flechas */
.dimension-flechas{
    width: 2em;
    height: 2em;
}

/* Contenedores de cada flecha con respectivos bordes y colores. */

.contenedor-flecha-arriba{ 
    border-top: 0.01em solid rgba(0, 0, 0, 0.267);
    border-right: 0.01em solid rgba(0, 0, 0, 0.267);
    border-left: 0.01em solid rgba(0, 0, 0, 0.267);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,47,48,1) 35%, rgba(69,72,73,1) 100%);
    color: #232323;
    cursor: pointer;
    border-radius: 0.35em 0.35em 0em 0em;
    box-shadow: 2px 10px 5px 1px rgba(0, 0, 0, 0.362);

}

.contenedor-flecha-izquierda{
    border-left: 0.01em solid black;
    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
    background: #01000b;
    background: linear-gradient(90deg, rgb(30, 29, 35) 0%, rgb(21, 21, 26) 35%, rgba(3,0,41,1) 100%);
    color: #232323;
    cursor: pointer;
    border-radius: 0.35em 0em 0em 0.35em; 
    
}

.contenedor-punto-centro{
    width: 2em;
    height: 2.1em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,47,48,1) 35%, rgba(69,72,73,1) 100%);
    color: #232323;    
}

.punto-central{
    width: 1em;
    height: 1em;
    background-color: #3f4343ad;
    border-radius: 50%;
    background: rgb(64,64,64);
    background: radial-gradient(circle, rgba(64,64,64,1) 33%, rgba(35,35,35,1) 100%);
}

.contenedor-flecha-derecha{
    border-right: 0.01em solid black;
    border-top: 0.01em solid rgba(0, 0, 0, 0.311);
    border-bottom: 0.01em solid rgba(0, 0, 0, 0.496);
    background: #454849;
    background: linear-gradient(90deg, rgba(69,72,73,1) 0%, rgba(71,75,77,1) 35%, rgba(81,85,87,1) 78%);
    color: #232323;
    cursor: pointer;
    border-radius: 0em 0.35em 0.35em 0em;
    box-shadow: 4.5px 1px 5px 1px rgba(0, 0, 0, 0.362);
}

.contenedor-flecha-abajo{
    border-bottom: 0.01em solid black;
    border-right: 0.01em solid black;
    border-left: 0.01em solid black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,47,48,1) 35%, rgba(69,72,73,1) 100%);
    color: #232323;
    cursor: pointer;
    border-radius: 0em 0em 0.35em 0.35em;  
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.362);
    
    
}

/* Sirve para centrar los iconos de las flechas y el punto en sus respectivos divs. */
.contenedor-flechas div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor botones A-B */
.contenedor-botones{
    width: 6em;
    height: 6em;
    position: relative;
}

.contenedorA{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: absolute;
    top: 0.2em;
    right: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,47,48,1) 35%, rgba(69,72,73,1) 100%);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    cursor: pointer;
    border: 0.01em solid black;
}


.contenedorB{
    width: 3em;
    height: 3em;
    background: #020024;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,47,48,1) 35%, rgba(69,72,73,1) 100%);
    border-radius: 50%;
    position: absolute;
    bottom: 0.2em;
    left: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    cursor: pointer;
    border: 0.01em solid black;
}

.letra-boton{
    font-size: 1.5em;
    color: #90909024;
}

/* Botones Select & Start */

.contenedor-botones-select-start{
    width: 7em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2.5em;
   
    
}

.contenedor-select{
    width: 2em;
    height: 0.5em;
    background: #3a3b36;
    background: linear-gradient(0deg, rgba(58,59,54,1) 0%, rgba(74,75,70,1) 82%);
    border-radius: 1em ;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.contenedor-start{
    width: 2em;
    height: 0.5em;
    background: rgb(58,59,54);
    background: linear-gradient(0deg, rgba(58,59,54,1) 0%, rgba(74,75,70,1) 82%);
    border-radius: 1em;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.mid-button-text{
    font-size: 0.6em;
    margin-top: 1.4em;
    margin-left: 0.2em;
    color: #7462b2;
    font-family: 'Lato', sans-serif;
}

/* Salida de audio Consola */

.contenedor-audio{
    width: 5.5em;
    height: 5.5em;
    position: absolute;
    bottom: 0.8em;
    right: 2em;
    border-radius: 1.5em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate(-5deg);
}

.fila-puntos{
    display: flex;
}
.puntoNegro{
    width: 0.5em;
    height: 0.5em;
    background: rgb(54,59,60);
    background: radial-gradient(circle, rgba(54,59,60,0.8354692218684349) 0%, rgba(11, 8, 8, 0.452) 34%);
    border-radius: 50%;
    margin-right: 3px;
}

.puntoBlanco{
    width: 0.5em;
    height: 0.5em;
    background: rgb(115,98,178);
    background: radial-gradient(circle, rgba(115,98,178,0.8746849081429446) 25%, rgba(115, 98, 178, 0.395) 28%, rgba(32,23,23,1) 100%);
    box-shadow: inset 0px -3px 1px -2px rgba(197, 192, 219, 0.633);
    border-radius: 50%;
    margin-right: 3px;
}


/* Keyframe Animación Parpadeo Led */

@keyframes parpadeo{
    0%{
        background-color: #cbcfbd;
        box-shadow: inset 0px 0px 6px 5px #a7776f;
    }
    50%{
        background-color: #ee2400;
        box-shadow: inset 0px 0px 0px 0px rgba(150, 27, 5, 0.505);
    }
    100%{
        background-color: #cbcfbd;
        box-shadow: inset 0px 0px 6px 5px #a7776f;
    }
}